doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Account webpage
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    script(src='https://kit.fontawesome.com/2354c028ce.js' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/account.css')
    link(rel='stylesheet' href='/stylesheets/logged_in_navbar.css')
include logged_in_navbar
main.row
    include bank_account_left_side
    section.float-left.col
        .container
            .row
                .service.col-12.col-sm-6.col-md-8
                    h1.text-primary.mb-5.mt-4 My Accounts
                .service.col-6.col-md-4.mb-5.mt-4
                    div#add-account
                        button.btn-primary.btn.mt-4.ml-4#btn-add-account(type="button" onclick="change()") Add account
                    script.
                        function change() {
                            $("#add-account").html('<form method=\'post\' action="/account/createAccount">' +
                                '<input type="text" name="name" placeholder="New account name" />' +
                                '<br>' +
                                '<select name="colors" id="colors">' +
                                '<option value="blue">Blue</option>' +
                                '<option value="red">Red</option>' +
                                '<option value="green">Green</option>' +
                                '<option value="pink">Pink</option>' +
                                '</select>' +
                                '<br>' +
                                '<input type="submit" value="Create">' +
                                '</form>');;
                            $("#add-account #input").focus();
                        };
        .p-3.mb-2.bg-dark.text-white Banking &amp; Savings
        table.table.table-striped
            thead
                tr
                    th(scope='col') Accounts
                    th(scope='col') Current Balance
                    th(scope='col') Available Balance
                    th(scope='col') Actions
            tbody.table-body
                //tr
                //    th(scope='row')
                //        | eSaver
                //        br
                //        | 09-01-26 12345678
                //    td &pound; 10,123.00
                //    td &pound; 10,123.00
                //    td
                //        button.btn.btn-primary(type='button') See Transfers
                //tr
                //   th(scope='row')
                //        | ISA
                //        br
                //        | 09-01-27 23456789
                //   td &pound; 1,500.00
                //    td &pound; 1,500.00
                //    td
                //        button.btn.btn-primary(type='button') See Transfers
                //tr
                //    th(scope='row')
                //        | Bank Account
                //        br
                //        | 09-01-26 01234567
                //    td &pound; 2,456.00
                //    td &pound; 2,456.00
                //    td
                //        button.btn.btn-primary(type='button') See Transfers
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
script(src="/js/account.js")
