doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/contact_us.css')
    link(rel='stylesheet' href='/stylesheets/logged_in_navbar.css')
    script(src='https://kit.fontawesome.com/2354c028ce.js' crossorigin='anonymous')
    title Contact Us
include logged_in_navbar
main.mt-5
    #main-side-left.main-side
        .main-side_text.container
            .text-group
                .text-group_title
                    i.fas.fa-map-marked-alt
                    .icon-title Address
                .text-mute 1 Science Square, Newcastle upon Tyne NE4 5TG
            .text-group
                .text-group_title
                    i.fas.fa-phone-alt
                    .icon-title Lets Talk
                .text-mute(style='color:#32AD5E') 0191 208 6000
            .text-group
                .text-group_title
                    i.fas.fa-map-marked-alt
                    .icon-title Address
                .text-mute 1 Science Square, Newcastle upon Tyne NE4 5TG
    #main-side-right.main-side.border
        h1.text-center.mt-2.mb-2 Send us a message
        form
            .form-items.row
                .form-title.border TELL US YOUR NAME *
                input#first-name.form-control.row-inputs.col(type='text' placeholder='First Name')
                input#last-name.form-control.row-inputs.col(type='text' placeholder='Last Name')
            .form-items.row
                .form-title.border ENTER YOUR EMAIL *
                input#email.form-control.col(type='email' placeholder='Eg. example@email.com')
            .form-items.row
                .form-title.border ENTER YOUR PHONE NUMBER *
                input#phone-number.form-control.col(type='text' placeholder='Eg. 07412345678')
            .form-items.row
                .form-title.border MESSAGE *
                textarea#message.form-control.col(rows='3' style='resize:none')
            button.btn.btn-lg.btn-submit.mt-5(type='button')  Send Message
//
  <footer class="footer mt-2 border-top">
  <div class="footer-text container">
  <div class="footer-text_copyright text-center">© Stubank 2021</div>
  </div>
  </footer>
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script(src= "https://smtpjs.com/v3/smtp.js")
script(src='js/contact_us.js')
