doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    script(src='https://kit.fontawesome.com/2354c028ce.js' crossorigin='anonymous')
    title Frequently asked questions
    style.
        main{
            max-width: 1000px;
        }
        .btn-link{
            color:black;
            font-size:16px;
        }
        .btn-link:active,.btn-link:hover{
            color:black;
        }
        .card-header i{
            position: relative;
            top:-15px;
            font-size:20px;
        }
        .card-header h2{
            margin-bottom:  -15px !important;
        }
        .jumbotron{
            padding-top:0px;
            padding-bottom:10px;
        }

include navbar
main.mx-5.jumbotron.shadow-lg.mx-auto
    section.mb-5
        h4.my-3 General questions:
        #accordionExample.accordion
            .card
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseGeneralOne' aria-expanded='true' aria-controls='collapseGeneralOne')
                            | Question 1: Why should I choose you
                    i.fas.fa-angle-down.float-right
                #collapseGeneralOne.collapse(aria-labelledby='headingOne' data-parent='#accordionExample')
                    .card-body
                        | We specifically tailor our features to match student's desires to benefit them the best we can and what better way can we do this; giving you an interest free overdraft, a free £100 once you sign up, and a set interest rate of 2% on your savings account. We also have great customer service which will walk you through anything you need as we know this maybe your first bank your signing up to.
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseGeneralTwo' aria-expanded='false' aria-controls='collapseGeneralTwo')
                            | Question 2: Am i automatically opting into online banking if I sign up
                    i.fas.fa-angle-down.float-right
                #collapseGeneralTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                    .card-body
                        | Yes as this makes things easier for student with being able to do online banking however if you wish to not be apart of it, you may contact the bank directly.
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseGeneralThree' aria-expanded='false' aria-controls='collapseGeneralThree')
                            | Question 3: Is the bank safe
                    i.fas.fa-angle-down.float-right
                #collapseGeneralThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                    .card-body
                        | We encrypt and decrypt everything such as transfers and account details to prevent any third parties getting hold of your data. We do our best to protect your data as only we have the key to decrypt your data
    section.mb-5
        h4.my-3 Payment/Transfers  Questions:
        #accordionExample.accordion
            .card
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapsePaymentOne' aria-expanded='true' aria-controls='collapsePaymentOne')
                            | Question 1: Why has the receiver not received my money that was sent
                    i.fas.fa-angle-down.float-right
                #collapsePaymentOne.collapse(aria-labelledby='headingOne' data-parent='#accordionExample')
                    .card-body
                        |  Transfers can take up to 24 hours especially if the receiver is with another bank due to different encryption and decryption keys. If the transaction has still not gone through after 24 hours then please contact us directly
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapsePaymentTwo' aria-expanded='false' aria-controls='collapsePaymentTwo')
                            | Question 2: How can I set up direct debits
                    i.fas.fa-angle-down.float-right
                #collapsePaymentTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                    .card-body
                        | This must been done through going to the bank yourself and speaking to the employees at the desk as this will ensure that we are doing it for the customer and not someone who has hacked into your account
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapsePaymentThree' aria-expanded='false' aria-controls='collapsePaymentThree')
                            | Question 3: What if a payment is made that I didn't authorise
                    i.fas.fa-angle-down.float-right
                #collapsePaymentThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                    .card-body
                        | If money has been taken from your account without your authorisation, contact the bank as soon as you notice and depending on the circumstances, we may be able to pay your money back
    section.mb-5
        h4.my-3 Account Questions:
        #accordionExample.accordion
            .card
                #headingOne.card-header
                    h2.mb-0
                        button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseAccountOne' aria-expanded='true' aria-controls='collapseAccountOne')
                            | Question 1: How can I can increase my overdraft
                    i.fas.fa-angle-down.float-right
                #collapseAccountOne.collapse(aria-labelledby='headingOne' data-parent='#accordionExample')
                    .card-body
                        | You will have to directly contact us to speak whether or not you need an increase in overdraft by providing your parents' salary details
            .card
                #headingTwo.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseAccountTwo' aria-expanded='false' aria-controls='collapseAccountTwo')
                            | Question 2: Why should your security be trusted
                    i.fas.fa-angle-down.float-right
                #collapseAccountTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                    .card-body
                        | We understand that during your student years, there's a higher than average probability of students losing their bank cards in which we want them to not panic as their money will still be safe as a one time verification code will always be sent to your email if a payment has been made. If you contact us directly, we will shut down that card straight away and send your a new card in the next 5-7 working days.
            .card
                #headingThree.card-header
                    h2.mb-0
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapeAccountThree' aria-expanded='false' aria-controls='collapseAccountThree')
                            | Question 3: What happens with my account after I graduate
                    i.fas.fa-angle-down.float-right
                #collapeAccountThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                    .card-body
                        | Your account will lose the benefits of being a student such as your overdraft and interest rates on your savings account. You will change to a normal current account a year after you graduate however if you decide to drop out or take extra years, you must contact the bank directly so we can sort it out for you.
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script.
    document.addEventListener("click",function(e){
        var parentElm = null;
        if(e.target.classList.contains("btn-link")){
            if(document.querySelector(".fa-angle-up")){
                var angleUp = document.querySelector(".fa-angle-up");
                angleUp.classList.remove("fa-angle-up");
                angleUp.classList.add("fa-angle-down")
                angleUp.style.color = "black";
                parentElm = angleUp.parentElement;
            }
            if(e.target.parentElement.parentElement.children[1].classList.contains("fa-angle-down")){
                if(parentElm){
                    if(parentElm !== e.target.parentElement.parentElement){
                        e.target.parentElement.parentElement.children[1].classList.remove("fa-angle-down");
                        e.target.parentElement.parentElement.children[1].classList.add("fa-angle-up");
                        e.target.parentElement.parentElement.children[1].style.color = "#2D7DE9";
                    }
                }else{
                    e.target.parentElement.parentElement.children[1].classList.remove("fa-angle-down");
                    e.target.parentElement.parentElement.children[1].classList.add("fa-angle-up");
                    e.target.parentElement.parentElement.children[1].style.color = "#2D7DE9";
                }
            } else if(e.target.parentElement.parentElement.children[1].classList.contains("fa-angle-up")){
                e.target.parentElement.parentElement.children[1].classList.remove("fa-angle-up");
                e.target.parentElement.parentElement.children[1].classList.add("fa-angle-down");
                e.target.parentElement.parentElement.children[1].style.color = "black";
            }
        }
    })
