doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='/stylesheets/home.css')
  link(rel='stylesheet' href='/stylesheets/navbar.css')
  script(src='https://kit.fontawesome.com/2354c028ce.js' crossorigin='anonymous')
  title Homepage

include navbar
main.main.header-with-image
  section.main-welcome
    .main-img.pl-4.pt-5
      img.img-fluid(src='/images/logo.png' alt='logo')
    .main-heading
      h1.main-heading_title
        | Welcome to Salva
      p.main-heading_text
        | We are the best student bank as we specifically tailor our features to students enabling them to get the best use from our services
      a.btn.main-heading_button.btn-lg.rounded-lg.mt-4(href="sign_up")
        | Get started
      a.ca3-scroll-down-link.ca3-scroll-down-arrow(data-ca3_iconfont='ETmodules' data-ca3_icon='')
section.bank-services
  .container
    .row
      .service.col-lg-4.col-md-6.col-xs-12
        .card
          .card-img-wrapper
            img.card-img-top(src='/images/main-welcome_img9.jpg' alt='Card image cap')
          .card-body
            h5.card-title Create accounts with 0% interest charged on overdraft
            p.card-text
              | Get started with an interest free overdraft of £500 where you can contact us to increase it subject to certain requirements.
            a.btn.btn-primary(href="sign_up") Get started
      .service.col-lg-4.col-md-6.col-xs-12
        .card
          .card-img-wrapper
            img.card-img-top(src='/images/main-welcome_img10.jpg' alt='Card image cap')
          .card-body
            h5.card-title Supported banking
            p.card-text
              | We, as a bank, want to give the necessary financial support to students which may be a factor in an increase in students as they'll have the financial support to attend higher education.
            a.btn.btn-primary(href="sign_up") Get started
      .service.col-lg-4.col-md-6.col-xs-12
        .card
          .card-img-wrapper
            img.card-img-top(src='/images/main-welcome_img11.jpg' alt='Card image cap')
          .card-body
            h5.card-title The bank that makes saving easy
            p.card-text
              | Start saving with our bank with a set interest rate of 2%. This shows the reliability and benefit of our bank as our interest rate will never change and it's set at a high percentage.
            a.btn.btn-primary(href="sign_up") Get started
section.bottom-menu
  .row.pl-5.ml-5.mt-5
    .col
      img.img-fulid.bottom-menu_logo(src='/images/logo.png' alt='')
      .div
        h4.mt-3 Salva
        p.text-muted(style='width:15vw')
          | We are a bank here to help you. Here are some useful links for any worries or enquiries you may have.
    .col.bottom-menu_link
      h5 Products
      a
        p.text-muted Current accounts
      a
        p.text-muted Savings accounts
      a
        p.text-muted Debit cards
      a
        p.text-muted Overdraft
      h5.mt-3 Support
      a
        p.text-muted Contact us
      a
        p.text-muted Lost or stolen card
      a
        p.text-muted Our branch
      a
        p.text-muted Fraud tips
    .col.bottom-menu_link
      h5 Covid-19 support
      a
        p.text-muted Tips to help you
      a
        p.text-muted Loan payment holiday
      a
        p.text-muted Current account FAQs
      a
        p.text-muted Savings account FAQs
    .col.bottom-menu_link
      h5 Other
      a
        p.text-muted About us
      a
        p.text-muted Careers
      a
        p.text-muted Terms and conditions
      a
        p.text-muted Transparency
    .col
footer.footer-menu
  .row
    .col.footer-bank-name
      b &copy; Bank Name
    .col.footer-icons
      i.fab.fa-facebook-square
      i.fas.fa-envelope
      i.fab.fa-twitter
      i.fab.fa-instagram
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script.
