nav-row
    .row(style="background-color: lightgrey;")
        .col.d-flex.justify-content-center(style='background:#2D7DE9;')
            a(href="")
                i.fas.fa-home
        .col.d-flex.justify-content-center.border-right.border-bottom
            b: a(href="account") Account
        .col.d-flex.justify-content-center.border-right.border-bottom
            b: a(href="transfers") Transfers
        .col.d-flex.justify-content-center.border-right.border-bottom
            b: a(href="e-documents") e-Documents
        .col.d-flex.justify-content-center.border-right.border-bottom
            b: a(href="details-and-settings") My Details &amp; Settings
        .col.d-flex.justify-content-center.border-right.border-bottom
            b: a(href="contact-us") Contact us
        .col.d-flex.justify-content-center.border-right.border-bottom
            b: a(href="logout") Logout