doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/login.css')
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    script(src='https://kit.fontawesome.com/2354c028ce.js' crossorigin='anonymous')
    title Login

    include navbar
    main.container
        .main-section.d-flex.justify-content-center.rounded.shadow-lg
            .main-section_img.d-none.d-sm-none.d-md-block.d-lg-block
            .main-section_form
                form.ml-3(method='post' action="/login/signin")
                    img.logo(src='/images/logo.png' alt='')
                    h3.ml-3.mt-3 Sign into your account
                    input.form-control.mt-4(type='text' placeholder='username' name='username')
                    input.form-control.mt-4(type='password' placeholder='password' name='password')
                    p.text-muted.ml-3.mt-1#forgot-password(data-toggle="modal" data-target=".bd-example-modal-lg") forgot password?
                    .modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true')
                        .modal-dialog.modal-lg
                            .modal-content
                                h4.mx-auto Enter email
                                input.mx-auto.mt-2.form-control.ml-5#forgot-password-email(style="width:400px" type="email")
                                button.btn.btn-primary.form-control.mx-auto.mt-3.mb-3#forgot-password-btn(style="margin-left:20px" type="button" data-dismiss="modal" ) Get password

                    button.btn-primary.btn.mt-4.ml-4(type="submit") Sign in
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script(src= "https://smtpjs.com/v3/smtp.js")
script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
script(src='/js/login.js')