doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/logged_in_navbar.css')
    link(rel='stylesheet' href='/stylesheets/my_wallet.css')
    script(src='https://kit.fontawesome.com/2354c028ce.js' crossorigin='anonymous')
    title My wallet


include logged_in_navbar
section.border-left.border-bottom
    h1.main-h1.text-center
        | Total Spent Today:
        span#figure  &pound;0.00
section
    canvas#myChart(width='400' height='200')
section(style='')
    h3.text-center.my-4 Spending Per Category For This week:
    canvas#oilChart1(width='600' height='400')
section.border-top
    h3.text-center.my-4 Income Per Account For This Year:
    canvas#oilChart(width='600' height='400')
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0')
script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
script(src= "https://smtpjs.com/v3/smtp.js")
script(src='js/my_wallet.js')
