.nav-row
    .row
        .col-3.d-flex.justify-content-center(style='background:#2D7DE9;')
            a(href="/")
                i.fas.fa-home
        .col-3.d-flex.justify-content-center.border-right.border-bottom
            a(href="faq")
                i.far.fa-question-circle
        .col-3.d-flex.justify-content-center.border-right.border-bottom
            b: a(href="sign_up") Register
        .col-3.d-flex.justify-content-center.border-right.border-bottom
            b: a(href="login") Login