doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/payment.css')
    link(rel='stylesheet' href='/stylesheets/logged_in_navbar.css')
    script(src='https://kit.fontawesome.com/2354c028ce.js' crossorigin='anonymous')

include logged_in_navbar
main.main.header-with-image.row
    section.main-welcome.col
        .main-img.pl-4.pt-5
            img.img-fluid(src='/images/logo.png' alt='logo')
        .main-heading
            h1.main-heading_title
                | Transfer Money Across World In Real Time With No Change
            p.main-heading_text.mt-3
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quam corporis, blanditiis labore quidem soluta corrupti dolore odio beatae alias, placeat impedit! Atque aliquam odio at accusamus accusantium dolore unde.
    .main-transfer-form.col
        .transfer-form.rounded.shadow-lg
            h3 Send Money
            form#form_1.mt-4(action='/payment/createPayment' method="post")
                .form_1
                    label(for='sendAmount') Send Amount
                    .input-group.mb-3
                        .input-group-prepend
                            span.input-group-text &pound;
                        input.form-control(id='sendAmount', type='text' placeholder='£1,000' name="amount-to-send")
                        .input-group-append
                            textarea.input-group-text .00
                    .form-group
                        label(for='transferPurpose') Transfer purpose
                        select#transferPurpose.form-control(name="transfer-purpose")
                            option General
                            option Paying family
                            option Groceries
                            option Shopping
                            option Bills
                            option Eating Out
                            option Entertainment
                            option Finances
                            option Transport
                .form_2
                    .form-group
                        label(for='sendingAccount') Account to send from
                        select#sendingAccount.form-control(name="sending-account")
                            option Sava personal 123
                            option 2
                            option 3
                            option 4
                            option 5
                    .form-group
                        label(for='receivingAccount') Receiving Account Number
                        input.form-control(id='receivingAccount', type='text' placeholder='23242234454' name="account-number")
                    .form-group
                        label(for='receiverName') Receiver name
                        input.form-control(id='receiverName', type='text' placeholder='John Smith' name="receiver-name")
                .form_3
                    .form-group.mb-3
                        label(for='passCode') One time passcode (Please check your email)
                        input.form-control(id='passCode', type='text' placeholder='' name="one-time-passcode")
            .success-message
                h1.text-center.text-success.pt-5 Transfer completed
            button.btn.btn-lg.mt-4.btn-continue Continue Transfer
            button.btn.btn-lg.mt-4.btn-submit(type='submit') Submit Transfer
section.our-features
    .row
        .col-5
            .our-features_text
                h5.mb-4 Our Features
                h1 Transfer Money in a Minute with Secure Way
                p.text-muted.my-4
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex impedit laboriosam explicabo ullam dolorem nemo sunt, fugiat mollitia ad maxime eligendi, qui animi autem dignissimos consequatur debitis vero, odio non!
                p.text-muted
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ipsa iste hic, repudiandae tenetur velit. Nam voluptatibus quos quidem aspernatur obcaecati vero, quasi earum tempore sapiente, ducimus velit ullam reprehenderit!
        .col-7
            .row
                .ml-5.col
                    .feature-card.shadow
                        i.fas.fa-shield-alt
                        h4.my-3 Fully Encrypted
                        p.d-none.d-lg-block
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto, reprehenderit delectus quaerat eos
                .col
                    .feature-card.shadow
                        i.far.fa-id-card
                        h4.my-3 24/7 Services
                        p.d-none.d-lg-block
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto, reprehenderit delectus quaerat eos
            .row
                .ml-5.col
                    .feature-card.shadow
                        i.fas.fa-user-shield
                        h4.my-3 Safe And Secure
                        p.d-none.d-lg-block
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto, reprehenderit delectus quaerat eos
                .col
                    .feature-card.shadow
                        i.far.fa-clock
                        h4.my-3 Instant Transfers
                        p.d-none.d-lg-block
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto, reprehenderit delectus quaerat eos
//
  <footer class="footer-menu">
  <div class="row">
  <div class="col footer-bank-name"><b>© Bank Name</b></div>
  <div class="col footer-icons">
  <i class="fab fa-facebook-square"></i>
  <i class="fas fa-envelope"></i>
  <i class="fab fa-twitter"></i>
  <i class="fab fa-instagram"></i>
  </div>
  </div>
  </footer>
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script.
    var formBtn = document.querySelector(".btn");
    var formIndex = 1;
    formBtn.addEventListener("click",function(e){
        // insert form validation here
        //moveForm allows the mutlistep form to take place
        moveForm("forward");
        e.preventDefault();
    })
    //MOVES THE FORM FORWARD AND SHOWS A NEW STEP IN THE FORM
    function moveForm(direction){
        formIndex++;
        function setDisplayProperty(formIndex){
            for(var i = 1; i<= 3;i++){
                var elm = document.querySelector(".form_"+i.toString());
                elm.style.display = i === formIndex ? "block" : "none";
                console.log(elm);
            }
        }
        setDisplayProperty(formIndex);
        if (direction === "forward" && formIndex === 3 ) {
            document.querySelector(".btn-submit").style.display = "block";
            document.querySelector(".btn-continue").style.display = "none";
        }
    }
    document.querySelector(".btn-submit").addEventListener("click",function(e){
        document.querySelector(".form_3").style.display = "none";
        document.querySelector(".success-message").style.display = "block";
        document.querySelector(".transfer-form h3").style.display = "none";
        document.querySelector(".btn-submit").style.display = "none";
    });
