doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/transfers.css')
    link(rel='stylesheet' href='/stylesheets/card.css')
    link(rel='stylesheet' href='/stylesheets/logged_in_navbar.css')
    script(src='https://kit.fontawesome.com/2354c028ce.js' crossorigin='anonymous')
    title Transfers
include logged_in_navbar
include bank_account_left_side
main.float-left.side-right
    h3 Transactions
    #carouselExampleControls.carousel.shadow-lg.slide.mb-2(data-ride='carousel' data-interval='false')
        .carousel-inner
        a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
    table.table.table-hover
        thead
            tr
                th(scope='col') Type
                th(scope='col') From/To
                th(scope='col') Amount
                th(scope='col') Date
        tbody.table-body

//
  <footer class="footer-menu">
  <div class="row">
  <div class="col footer-bank-name"><b>© Bank Name</b></div>
  <div class="col footer-icons">
  <i class="fab fa-facebook-square"></i>
  <i class="fas fa-envelope"></i>
  <i class="fab fa-twitter"></i>
  <i class="fab fa-instagram"></i>
  </div>
  </div>
  </footer>
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
script(src="/js/transfers.js")
script(src="/js/digital_card.js")
