.carousel{
    width:450px;
    margin: 0 auto;
    height: 300px;
    background-color:#262626;
    border-radius: 30px;
    position: relative;
    top: -5vh;
}
.bank-card{
    color:white;

}
.bank-card-logo{
    width:60px;
    float:right;
    margin-top:10px;
    margin-right:20px;
}
.card__sim{
    display:inline-block;
    margin-top:50px;
    margin-left: 50px;
    background:#ffce3f;
    border-radius:5px;
    height: 70px;
    width:70px;
}
.bank-card-number{
    font-size: 30px;
    margin-top:5px;
    margin-left:50px;
}
.card-number-text{
    font-size: 10px;
    position: relative;
    top:-10px;
    margin-left:55px;
}
.bank-card-expiry{
    float: right;
    margin-top:15px;
}
.bank-card-expiry-text{
    float:left;
    width:20px;
    margin-right: 25px;
    font-size: 13px;
}
.bank-card-expiry-number{
    float:left;
    font-size:20px;
    letter-spacing: 5px;
    margin-top:5px;
}
.bank-card-bottom{
    margin-top:0px;
    margin-left:50px;
    font-size:22px;
}
.icons{
    font-size:30px;
    float:right;
    margin-right: 20px;
    margin-top:20px;
}
.account-name{
    font-size:20px;
    font-weight: 700;
    margin-top:25px;
    margin-left:50px;
}



@media only screen and (max-width: 1100px) {
    .titles .titles-group .titles-group_text{
        font-size:12px;
    }
    .carousel{
        margin-top:10vh;
        top: 0vh;
    }
}
@media only screen and (max-width: 600px) {

    .carousel{
       width:95vw;
        height: 400px;
    }
}

