main{
    position: relative;
}

.fas,icon-title{
    float:left;
}
.fas{
    margin-right: 40px;
    font-size: 30px;
}
.main-side_text{
    color:white;
    position: absolute;
    top:10vh;
    left:2vw;

}
.text-group_title{
    margin-bottom:3vh;
    font-size:20px;
}
.text-mute{
    opacity: 0.9  ;
}
.text-group{
    margin-bottom: 8vh;
}
#main-side-right{

}
#main-side-left{
    background-image: url("/images/main-side_background-img.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}
.form-title{
    padding:20px 15px 20px 25px;
    width: 27vw;
    margin-top:2vh;
    font-size: 12px;
}

input{
    padding:30px 40px 30px 30px  ;
}
.btn-submit{
    background-color:#32AD5E;
    color:white;
    position: absolute;
    left: 44vw;
    font-weight: bold;
}
.row-inputs{
    float:left;

}
input::placeholder{
    font-size:20px;
}
.form-items{
    margin-left:2vw;
    width: 27vw;
}
@media only screen and (max-width: 1000px) {
    main{
        margin-left:5vw;
    }
    .main-side{
        height: 85vh;
        float:left;
    }
    .fas{
        margin-right: 40px;
        font-size: 22px;
    }
    .text-mute{
        font-size: 2vh;
        width:30vw;
    }
    .text-group_title{
        margin-bottom:3vh;
        font-size:15px;

    }
    #main-side-left{
        width:38vw;
    }
    #main-side-right{
        width:55vw;
    }
    .form-items{
        margin-left:2vw;
        width: 40vw;
    }
    .form-title{
        width: 40vw;
    }
    .btn-submit{
        left: 55vw;
    }
    form{
        margin-left:5vw;
    }
    .main-side_text{
        left:0vw;

    }

}
@media only screen and (min-height: 750px) and (max-height: 900px) {
    .main-side{
        height: 90vh;
    }
    .btn-submit{
        margin-left:-2vw;;
    }
}

@media only screen and (max-height: 749px) {
    .main-side{
        height: 100vh;
    }
    .btn-submit{
        margin-left:-2vw;;
    }
}

@media only screen and (max-height: 640px) {
    .main-side{
        height: 120vh;
    }
    .btn-submit{
        margin-left:-2vw;;
    }
}
@media only screen and (max-height: 540px) {
    .main-side{
        height: 130vh;
    }
    .btn-submit{
        margin-left:-2vw;;
    }
}


@media only screen and (min-width: 1001px) {
    main{
        margin-left:16.5vw;
    }
    .main-side{
        width: 32vw;
        height: 85vh;
        float:left;
    }
    .text-mute{
        font-size: 2vh;
        width:25vw;
    }
}

@media only screen and (min-width: 1100px) and(max-width: 1290px) {
    input{
        padding:20px 40px 20px 30px  ;
    }
}