.header-with-image{
    width:103vw;
}
.main-img{
    width:10vw;
}
.main-welcome{
    margin-top:-2.5vh;
    background:url(/images/main-welcome_img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.main-heading{
    margin-left:10vw;
    margin-top:7vh;
}

.main-heading_title{
    color:#0076ff;
    font-weight: 800;
    font-size:50px;
}
.main-heading_text{
    color:white;
    font-size:30px;
    font-weight: 800;
    width:40vw
}

.main-heading_button{
    background:#0076ff;
    width:200px;
    height: 70px;
}


/*scrool animation */

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor:pointer;
    height: 100px;
    width: 150px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
    animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
    0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
    0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
    0%   { transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,20px); opacity: 0; }
}


.bank-services{
    background-image: url('https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80');
    background-color: var(--clr-grey);
    background-image: url('https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80');
    background-size: cover;
    background-blend-mode: multiply;
    padding-top:5vh;
}


/*cards*/
.service {
    margin-bottom: 30px;
}
.card-image .card .card-img-wrapper {
    height: 100%;
}
.card-image .card .card-body {
    display: none;
}
.card-image-title-description .card .card-img-wrapper {
    max-height: 160px;
}
.card-image-title-description .card {
    position: relative;
    min-height: 300px;
}
.card-image-title-description .card .card-body {
    height: auto;
    position: relative;
    top: 0;
    margin-bottom: -70px;
}
.card-image-title-description .card:hover .card-body {
    top: -70px;
}
.card-image-title-description .card .card-body .card-title {
    margin-bottom: .75rem;
}
.card {
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 400px;
    height: 100%;
}
.card:hover {
    box-shadow: 8px 12px 31px -10px #ab98ab;
}
.card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    overflow: hidden;
}
.card-img-wrapper img {
    transition: 1.5s ease;
}
.card:hover .card-img-wrapper img {
    transform: scale(1.15);
}
.card-body .card-title {
    margin-bottom: calc(50% + 20px);
    transition: 1.5s ease;
}
.card:hover .card-body .card-title {
    margin-bottom: .75rem;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #fff;
    transition: 1.5s ease;
}
.card-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
}
.card:hover .card-body {
    height: 80%;
}
.card:hover .card-content {
    bottom: 0;
}

.card-body .btn{
    background: #0076ff ;
}


.bottom-menu .container{

}
.bottom-menu_logo{
    width:5vw;
}
.bottom-menu_link a p{
    margin-bottom:5px;
}
.footer-menu{
    background-color:lightgrey;
}
.footer-menu .row .footer-bank-name{
    margin-left:7vw;
}

.footer-menu .row .col i{
    margin-left:5vw;
}
.footer-menu .row .footer-icons{
    margin-left:20vw;
}


/*media queires */

@media only screen and (max-width: 800px) {
    .main-heading_text{
        width:80vw;
    }

    .main-img {
        width:150px
    }
}
@media only screen and (min-width: 801px) {
    .main-heading_text{
        width:80vw;
    }

    .main-img {
        width:150px
    }
}
@media only screen and (min-width: 1000px) {
    .main-heading_text{
        width:75vw;
    }
}
@media only screen and (min-width: 1200px) {
    .main-heading_text{
        width:60vw;
    }

}
@media only screen and (min-width: 1400px) {
    .main-heading_text{
        width:50vw;
    }
}